@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
	/* colors */
	--Dark-01: #181818;
	--Dark-02: #474747;
	--Dark-03: #757575;
	--orange: #fd6e0a;
	--White-Color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	font-family: "Open Sans", sans-serif;
}

/* shared styles */
.btn {
	border: 0;
	border-radius: 5px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

/* navbar related styles */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

.nav-title {
	color: var(--Dark-01);
	font-size: 45px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.nav-title > span {
	color: var(--orange);
}

.nav-links {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
}

.nav-links li {
	list-style: none;
	font-weight: 400;
	margin-right: 50px;
}

.nav-links li a {
	text-decoration: none;
	color: var(--Dark-02);
}

.primary-button {
	padding: 18px 35px;
	color: var(--White-Color);
	background: var(--orange);
}

/* header related styles */
.header {
	background: #fff8f3;
}

.banner {
	padding: 30px 30px 30px 150px;
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-content {
}

.banner-greeting {
	color: var(--Dark-02);
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.banner-title {
	color: var(--Dark-01);
	font-size: 85px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 5px;
	margin-bottom: 20px;
}

.banner-description {
	color: var(--Dark-03);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin: 20px 0;
}

.profile-picture {
	width: 500px;
}
